// Import Bulma's core
@import "../../node_modules/bulma/sass/utilities/_all";

// Set your colors
$primary: rgb(140, 103, 239);
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$tablecloth-fore: rgba(140, 103, 239, .5);
$tablecloth-back: rgba(255, 255, 255, .75);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
		(
				"white": (
						$white,
						$black,
				),
				"black": (
						$black,
						$white,
				),
				"light": (
						$light,
						$light-invert,
				),
				"dark": (
						$dark,
						$dark-invert,
				),
				"primary": (
						$primary,
						$primary-invert,
						$primary-light,
						$primary-dark,
				),
				"link": (
						$link,
						$link-invert,
						$link-light,
						$link-dark,
				),
				"info": (
						$info,
						$info-invert,
						$info-light,
						$info-dark,
				),
				"success": (
						$success,
						$success-invert,
						$success-light,
						$success-dark,
				),
				"warning": (
						$warning,
						$warning-invert,
						$warning-light,
						$warning-dark,
				),
				"danger": (
						$danger,
						$danger-invert,
						$danger-light,
						$danger-dark,
				),
		),
		$custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-visited: $primary;
$link-focus-border: $primary;

// animations
$speed-slow: 150ms;
$speed-slower: 250ms;

$card-content-padding: 1rem;
$section-padding: 2.5rem 1rem;
