---json
{
	"permalink": "/feed.xml",
	"eleventyExcludeFromCollections": true,
	"metadata": {
		"title": "Ricettario",
		"subtitle": "Ultime ricette inserite",
		"language": "it",
		"url": "https://tilt-me.gitlab.io/ricettario",
		"favicon": "/asset/img/favicon/icon-512.png",
		"author": {
			"name": "Tilt"
		}
	}
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.subtitle }}</subtitle>
	<link href="{{ metadata.url+permalink }}" rel="self" />
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.recipe | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}</id>
	<icon>{{ metadata.url+metadata.favicon }}</icon>
	<author>
		<name>{{ metadata.author.name }}</name>
	</author>
	{% set top = 7 %}
	{% for entry in collections.recipe | sort(attribute='data.publicationDate') | reverse %}
	{% set absolutePostUrl = metadata.url+entry.url %}
	{% if (loop.index <= top) %}
	<entry>
		<title>{{ entry.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ entry.data.publicationDate | dateToRfc3339 }}</updated>
		<published>{{ entry.data.publicationDate | dateToRfc3339 }}</published>
		<id>{{ absolutePostUrl }}</id>
		{# <content xml:lang="{{ metadata.language }}" type="html">{{ entry.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content> #}
		<content xml:lang="{{ metadata.language }}" type="html">
			{% if (entry.data.cover) and (entry.data.cover.coverUrl) and (entry.data.cover.coverUrl !== '') %}
				<img src="{{ metadata.url+(entry.data.cover.coverUrl.replace('/ricettario/', '/')) }}" alt="" />
				<br />
			{% endif %}
			{{ entry.data.excerpt if entry.data.excerpt else entry.content }}
		</content>
	</entry>
	{% endif %}
	{% endfor %}
</feed>
