---
permalink: "src/data/recipeEssential.json"
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
[{% for entry in collections.recipe %}{% if loop.first == true %}
	{% else %}	{% endif %}{
		"title": "{{ entry.data.title }}",
		"cover": "{{ entry.data.cover.coverUrl }}",
		"tag": "{{ entry.data.tags[1] }}",
		"slug": "{{ entry.data.title | slug }}"
	}{% if loop.last == false %},{% endif %}
{% endfor %}]
